In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [2]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('_data.csv', index_col=0)

In [3]:
df.head()

,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Телефоны,Описание,Ремонт,"Площадь комнат, м2",Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","+79672086536, +79099269384","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",Евроремонт,NaN,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...","+79660342340, +79099269384",ID 31618: Эксклюзивное предложение. Современн...,Евроремонт,14-42-20-19,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",+79852432860,Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,Евроремонт,20 18,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

In [4]:
# filtered_df = df[df['adress'].str.strip().str.contains('Санкт-Петербург', case=False)]

# # Вывод результата
# print(filtered_df)

In [5]:
# feature_names = df.columns.tolist() 
# for column in feature_names: 
#     print (column)
#     print (df[column].value_counts(dropna=False))

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23368 entries, 0 to 23367
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID  объявления            23368 non-null  int64
 1   Количество комнат         22327 non-null  object
 2   Тип                       23368 non-null  object
 3   Метро                     22053 non-null  object
 4   Адрес                     23368 non-null  object
 5   Площадь, м2               23368 non-null  object
 6   Дом                       23368 non-null  object
 7   Парковка                  9951 non-null   object
 8   Цена                      23368 non-null  object
 9   Телефоны                  23368 non-null  object
 10  Описание                  23368 non-null  object
 11  Ремонт                    20613 non-null  object
 12  Площадь комнат, м2        14458 non-null  object
 13  Балкон                    15390 non-null  object
 14  Окна                      16755 non-null  object
 15  Санузел                   20696 non-null  object
 16  Можно с детьми/животными  17272 non-null  object
 17  Дополнительно             23011 non-null  object
 18  Название ЖК               5848 non-null   object
 19  Серия дома                2163 non-null   object
 20  Высота потолков, м        11206 non-null  float64
 21  Лифт                      17868 non-null  object
 22  Мусоропровод              12846 non-null  object
 23  Ссылка на объявление      23368 non-null  object
dtypes: float64(1), int64(1), object(22)
memory usage: 4.5+ MB

In [7]:
df.shape

(23368, 24)

In [8]:
df.dtypes

ID  объявления                int64
Количество комнат            object
Тип                          object
Метро                        object
Адрес                        object
Площадь, м2                  object
Дом                          object
Парковка                     object
Цена                         object
Телефоны                     object
Описание                     object
Ремонт                       object
Площадь комнат, м2           object
Балкон                       object
Окна                         object
Санузел                      object
Можно с детьми/животными     object
Дополнительно                object
Название ЖК                  object
Серия дома                   object
Высота потолков, м          float64
Лифт                         object
Мусоропровод                 object
Ссылка на объявление         object
dtype: object

In [9]:
df.describe()

       ID  объявления  Высота потолков, м
count    2.336800e+04         11206.00000
mean     2.676265e+08             2.98345
std      1.876862e+07             7.61472
min      1.072986e+08             1.20000
25%      2.712663e+08             2.64000
50%      2.739030e+08             2.64000
75%      2.746872e+08             2.80000
max      2.750064e+08           320.00000

In [10]:
df.describe(include='O')

,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Телефоны,Описание,Ремонт,"Площадь комнат, м2",Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,Лифт,Мусоропровод,Ссылка на объявление
count,22327,23368,22053,23368,23368,23368,9951,23368,23368,23368,20613,14458,15390,16755,20696,17272,23011,5848,2163,17868,12846,23368
unique,24,1,5866,12850,11255,2565,5,3922,13172,23078,4,3990,18,3,20,3,528,1798,393,34,2,23368
top,1,Квартира,м. Академическая (10 мин пешком),"Москва, Чапаевский переулок, 3",40.0/20.0/10.0,"3/5, Кирпичный",наземная,"40000.0 руб./ За месяц, Залог - 40000 руб., Ко...",+79819217172,0,Косметический,20,Балкон (1),Во двор,Совмещенный (1),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...","Символ, 2019",индивидуальный проект,Пасс (1),Да,https://www.cian.ru/rent/flat/274672243
freq,7917,23368,41,63,224,322,6043,1113,302,108,8499,1620,7428,10870,10078,10134,2896,61,615,5911,10897,1

In [11]:
df.columns

Index(['ID  объявления', 'Количество комнат', 'Тип', 'Метро', 'Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны', 'Описание',
       'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Ссылка на объявление'],
      dtype='object')

In [12]:
df = df.rename(columns={
    'ID  объявления': 'id',
    'Количество комнат': 'counts_room', 
    'Тип': 'type_apart', 
    'Метро': 'metro',
    'Адрес': 'adress',
    'Площадь, м2': 'squar',
    'Дом': 'house_info',
    'Парковка': 'parking',
    'Цена': 'price',
    'Телефоны': 'tel',
    'Описание': 'info',
    'Ремонт': 'repair',
    'Площадь комнат, м2': 'squar_room',
    'Балкон': 'balcon',
    'Окна': 'windows',
    'Санузел': 'wc',
    'Можно с детьми/животными': 'child_animal',
    'Дополнительно': 'ps',
    'Название ЖК': 'name_hood',
    'Серия дома': 'serial_house',
    'Высота потолков, м': 'ceil',
    'Лифт': 'lift',
    'Мусоропровод': 'trash',
    'Ссылка на объявление': 'link'
})
df.head()

,id,counts_room,type_apart,metro,adress,squar,house_info,parking,price,tel,info,repair,squar_room,balcon,windows,wc,child_animal,ps,name_hood,serial_house,ceil,lift,trash,link
0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","+79672086536, +79099269384","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",Евроремонт,NaN,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...","+79660342340, +79099269384",ID 31618: Эксклюзивное предложение. Современн...,Евроремонт,14-42-20-19,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",+79852432860,Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,Евроремонт,20 18,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

MissingValue = df.isnull().sum().sort_values(ascending = False)
Percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
MissingData = pd.concat([MissingValue, Percent], axis=1, keys=['Пропущенные значения', 'Процент'])
MissingData

## Разобъем Количество комнат на число комнат и Тип смежности комнат.

In [13]:
df[['rooms_count', 'type_rooms']] = df['counts_room'].str.extract(r'(\d+),?\s*(.*)')
room_columns = list(df.columns)
room_columns.insert(room_columns.index('counts_room') + 1, room_columns.pop(room_columns.index('rooms_count')))
room_columns.insert(room_columns.index('counts_room') + 2, room_columns.pop(room_columns.index('type_rooms')))
df = df[room_columns]
df['rooms_count'] = pd.to_numeric(df['rooms_count'])

## Разобъем на станцию метро и удаленность от метро.

In [14]:
df[['metro_station', 'time_to_metro']] = df['metro'].str.extract(r'м\.\s*([^\(]+)\s*\((\d+)\s*мин')

## Разобъем на регион-город и улицу.

In [15]:
df[['city', 'address']] = df['adress'].str.extract(r'(?P<Город>[А-яёЁ\- ]+),\s*(?P<Улица>.+)')
adres_columns = list(df.columns)
adres_columns.insert(adres_columns.index('adress') + 1, adres_columns.pop(adres_columns.index('city')))
adres_columns.insert(adres_columns.index('adress') + 2, adres_columns.pop(adres_columns.index('address')))
df = df[adres_columns]

## Разобъем на общую площадь, жилую и кухню.

In [16]:
def split_squares(s):
    parts = s.split('/')
    if len(parts) == 2:
        return [parts[0], None, parts[1]]
    elif len(parts) == 3:
        return parts
    else:
        return [s, None, None]
df[['all_squar', 'live_squar', 'kitchen_squar']] = df['squar'].apply(split_squares).apply(pd.Series)

## Разобъем на этаж, этажность и тип дома.

In [17]:
df[['floor', 'all_floor', 'type_apart']] = df['house_info'].str.extract(r'(\d+)/(\d+),?\s*(.*)')
flor_columns = list(df.columns)
flor_columns.insert(flor_columns.index('house_info') + 1, flor_columns.pop(flor_columns.index('floor')))
flor_columns.insert(flor_columns.index('house_info') + 2, flor_columns.pop(flor_columns.index('all_floor')))
flor_columns.insert(flor_columns.index('house_info') + 3, flor_columns.pop(flor_columns.index('type_apart')))
df = df[flor_columns]
df['floor'] = pd.to_numeric(df['floor'])

## Разобъем на цену за месяц, коммунальные услуги, залог, срок аренды и предоплату.

In [18]:
list_el_price = [el for el in df['price'].str.split(',')]
df['ptice_month'] = [int(el[0].split()[0].split('.')[0]) for el in list_el_price]
df['util_service'] = df['price'].str.contains('Коммунальные услуги включены').astype(int)
df['bail'] = df['price'].str.extract(r'Залог - (\d+)')[0].fillna(0)
time_rent = df['price'].str.extract(r'Срок аренды - (.*?)(?:,|$)')[0]
df['rent_period'] = time_rent.apply(lambda x: 1 if 'Длительный' in x else 0)
df['prepayment'] = df['price'].str.extract(r'Предоплата (\d+) мес')[0].fillna(0)

## Разобъем на пассажирский и грузовой лифт.

In [19]:
df['pas_lift'] = df['lift'].str.extract(r'Пасс \((\d+)\)').fillna(0).astype(int)
df['freight_lift'] = df['lift'].str.extract(r'Груз \((\d+)\)').fillna(0).astype(int)

## Разобъем на можно с детьми, животными и оба варианта.

In [20]:
df['сhild_allow'] = df['child_animal'].apply(lambda x: 'да' if x == 'Можно с детьми' in str(x) else 'нет')
df['pets_allow'] = df['child_animal'].apply(lambda x: 'да' if x == 'Можно с животными' in str(x) else 'нет')
df['child_pets_allow'] = df['child_animal'].apply(lambda x: 'да' if x == 'Можно с детьми, Можно с животными' in str(x) else 'нет')
df['child_pets_allow'] = df['child_animal'].apply(lambda x: 'да' if pd.isna(x) else 'нет')

## Разобъем на количество санузлов и тип смежности.

In [21]:
def extract_total_bathrooms(value):
    if pd.isna(value):
        return np.nan
    else:
        total = sum(map(int, [x.split('(')[1].strip(')') for x in value.split(', ')]))
        return total

def extract_bathroom_type(value):
    if pd.isna(value):
        return np.nan
    elif 'Совмещенный' in value and 'Раздельный' in value:
        return 'Совмещенный и Раздельный'
    elif 'Совмещенный' in value:
        return 'Совмещенный'
    elif 'Раздельный' in value:
        return 'Раздельный'

df['bathrooms'] = df['wc'].apply(extract_total_bathrooms)
df['type_bathrooms'] = df['wc'].apply(extract_bathroom_type)

# Удалим не нужные колонки.

In [22]:
df = df.drop(['counts_room', 
              'type_apart', 
              'metro', 
              'adress', 
              'squar', 
              'house_info', 
              'price', 
              'tel', 
              'name_hood', 
              'serial_house', 
              'link', 
              'lift', 
              'info', 
              'child_animal', 
              'wc', 
              'windows', 
              'ps', 
              'parking', 
              'squar_room'], 
             axis=1
            )
df

,id,rooms_count,type_rooms,city,address,floor,all_floor,repair,balcon,ceil,trash,metro_station,time_to_metro,all_squar,live_squar,kitchen_squar,ptice_month,util_service,bail,rent_period,prepayment,pas_lift,freight_lift,сhild_allow,pets_allow,child_pets_allow,bathrooms,type_bathrooms
0,271271157,4.0,,Москва,"улица Новый Арбат, 27",5,16,Дизайнерский,NaN,3.00,Да,Смоленская,9,200.0,None,20.0,500000,1,500000,1,1,4,1,нет,нет,нет,NaN,NaN
1,271634126,4.0,,Москва,"улица Новый Арбат, 27",5,16,Дизайнерский,NaN,3.50,Нет,Смоленская,8,198.0,95.0,18.0,500000,1,500000,1,1,1,1,да,нет,нет,3.0,Совмещенный и Раздельный
2,271173086,4.0,Оба варианта,Москва,"улица Новый Арбат, 27",5,16,Евроремонт,NaN,3.20,NaN,Смоленская,7,200.0,116.0,4.0,500000,0,500000,1,1,1,0,да,нет,нет,3.0,Совмещенный
3,272197456,4.0,Оба варианта,Москва,"переулок Плотников, 21С1",5,6,Евроремонт,NaN,3.20,NaN,Смоленская,3,170.0,95.0,17.0,400000,0,400000,1,1,1,0,нет,да,нет,3.0,Совмещенный
4,273614615,2.0,,Москва,"улица Новый Арбат, 15",12,26,Евроремонт,NaN,3.90,Да,Арбатская,7,58.0,38.0,5.0,225000,1,225000,1,1,1,1,нет,нет,да,2.0,Совмещенный
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23363,215565511,NaN,NaN,Москва,"Боровское шоссе, 2к7, ш. Боровское (3 км до МК...",10,14,Евроремонт,Балкон (1),NaN,NaN,Говорово,8,35.0,16.4,8.0,42000,1,42000,1,1,1,1,нет,нет,да,1.0,Совмещенный
23364,274654844,1.0,,Москва,"Производственная улица, 8к1, ш. Боровское (5 к...",5,18,Евроремонт,Лоджия (1),NaN,NaN,Солнцево,7,38.7,16.5,11.0,45000,1,45000,1,1,1,1,нет,нет,да,1.0,Совмещенный
23365,268679909,2.0,Оба варианта,Москва,"Боровский проезд, 11",5,5,Дизайнерский,Балкон (1),NaN,NaN,Солнцево,6,43.1,None,None,50000,1,50000,1,1,0,0,да,нет,нет,1.0,Совмещенный
23366,274807525,2.0,,Москва,"улица Богданова, 6к1, ш. Боровское (3 км до МК...",8,23,Евроремонт,Лоджия (1),2.65,Да,Солнцево,11,52.5,None,10.0,55000,1,50000,1,2,3,0,нет,нет,да,2.0,Совмещенный и Раздельный
23367,274672243,2.0,Оба варианта,Москва,"улица Богданова, 2к1, ш. Боровское (3 км до МК...",6,23,Косметический,Лоджия (1),NaN,Да,Говорово,10,90.0,48.2,15.5,57000,1,60000,1,1,3,0,нет,нет,нет,1.0,Раздельный

In [23]:
MissingValue = df.isnull().sum().sort_values(ascending = False)
Percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
MissingData = pd.concat([MissingValue, Percent], axis=1, keys=['Пропущенные значения', 'Процент'])
MissingData

                  Пропущенные значения    Процент
ceil                             12162  52.045532
trash                            10522  45.027388
balcon                            7978  34.140705
live_squar                        5488  23.485108
kitchen_squar                     3060  13.094831
repair                            2755  11.789627
bathrooms                         2672  11.434440
type_bathrooms                    2672  11.434440
metro_station                     2355  10.077884
time_to_metro                     2355  10.077884
type_rooms                        1041   4.454810
rooms_count                       1041   4.454810
floor                                0   0.000000
address                              0   0.000000
all_floor                            0   0.000000
city                                 0   0.000000
id                                   0   0.000000
util_service                         0   0.000000
ptice_month                          0   0.000000
all_squar                            0   0.000000
rent_period                          0   0.000000
bail                                 0   0.000000
prepayment                           0   0.000000
pas_lift                             0   0.000000
сhild_allow                          0   0.000000
freight_lift                         0   0.000000
child_pets_allow                     0   0.000000
pets_allow                           0   0.000000

# Заполняем пропуски.

### Если адрес один, то и высота потолков одна.

In [24]:
for address in df['address'].unique():
    heights = df.loc[df['address'] == address, 'ceil'].dropna()
    if not heights.empty:
        df.loc[(df['address'] == address) & (df['ceil'].isnull()), 'ceil'] = heights.iloc[0]

### Если адрес один, то и мусоропровод присутствует.

In [25]:
for address in df['address'].unique():
    heights = df.loc[df['address'] == address, 'trash'].dropna()
    if not heights.empty:
        df.loc[(df['address'] == address) & (df['trash'].isnull()), 'trash'] = heights.iloc[0]

In [26]:
df['trash'] = df['trash'].fillna('Нет')

### Если адрес один, то метро ближайщее одно.

In [27]:
for address in df['address'].unique():
    heights = df.loc[df['address'] == address, 'metro_station'].dropna()
    if not heights.empty:
        df.loc[(df['address'] == address) & (df['metro_station'].isnull()), 'metro_station'] = heights.iloc[0]

In [28]:
df['metro_station'] = df['metro_station'].fillna('Нет')

### Если адрес один, то и приблизительное время до метро одно.

In [29]:
for address in df['address'].unique():
    heights = df.loc[df['address'] == address, 'time_to_metro'].dropna()
    if not heights.empty:
        df.loc[(df['address'] == address) & (df['time_to_metro'].isnull()), 'time_to_metro'] = heights.iloc[0]

### Если адрес один и этаж не первый, то балкон присутствует. Остальное добавим по моде.

In [30]:
for address in df['address'].unique():
    floors = df.loc[df['address'] == address, 'floor'].unique()
    
    for floor in floors:
        heights = df.loc[(df['address'] == address) & (df['floor'] == floor), 'balcon'].dropna()
        if not heights.empty:
            df.loc[(df['address'] == address) & (df['floor'] != 1) & (df['balcon'].isnull()), 'balcon'] = heights.iloc[0]

In [31]:
balcon_mode = df['balcon'].mode()[0]
df['balcon'] = df['balcon'].fillna(balcon_mode)

### Комментарий от Артемия это его код)))

In [32]:
df['all_floor'] = pd.to_numeric(df['all_floor'], errors='coerce')
df['rooms_count'] = pd.to_numeric(df['rooms_count'], errors='coerce')



def fill_room_count(row):
    if pd.isna(row['rooms_count']):
        if row['all_floor'] < 28:
            return 0  # Студия
        else:
            return row['rooms_count']
    else:
        return row['rooms_count']

df['rooms_count'] = df.apply(fill_room_count, axis=1)

In [33]:
df['rooms_count'] = df.groupby(pd.cut(df['all_floor'], bins=5))['rooms_count'].transform(lambda x: x.fillna(x.median()))

/tmp/ipykernel_21589/3504316928.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['rooms_count'] = df.groupby(pd.cut(df['all_floor'], bins=5))['rooms_count'].transform(lambda x: x.fillna(x.median()))

### Раз не известно о типе санузла, то поставим нет.

In [34]:
df['type_bathrooms'] = df['type_bathrooms'].fillna('Нет')

### Заполним жилую площадь по моде.

In [35]:
df['live_squar'] = pd.to_numeric(df['live_squar'], errors='coerce')
live_value = df['live_squar'].mode()[0]
df['live_squar'] = df['live_squar'].fillna(live_value)

### Заполним площадь кухни по медиане.

In [36]:
df['kitchen_squar'] = pd.to_numeric(df['kitchen_squar'], errors='coerce')
kitchen_value = df['kitchen_squar'].mean()
df['kitchen_squar'] = df['kitchen_squar'].fillna(kitchen_value)

### Заполним тип ремонта по моде.

In [37]:
repair_mode = df['repair'].mode()[0]
df['repair'] = df['repair'].fillna(repair_mode)

### Заполним высоту потолка по минимальному значению.

In [38]:
min_value = df['ceil'].min()
df['ceil'] = df['ceil'].fillna(min_value)

### Заполним время до метро если его нет нулем.

In [39]:
df['time_to_metro'] = df['time_to_metro'].fillna(0)

### в любом случае туалет и ванная есть в кв

In [40]:
df['bathrooms'] = df['bathrooms'].fillna(1.0)

### Пусть машина сама заполнит типы комнат

In [41]:
train_data = df[df['type_rooms'].notnull()]
X_train = train_data[['rooms_count']]
y_train = train_data['type_rooms']

model = RandomForestClassifier()
model.fit(X_train, y_train)

# Заполняем пропуски
missing_data = df[df['type_rooms'].isnull()]
X_missing = missing_data[['rooms_count']]
df.loc[df['type_rooms'].isnull(), 'type_rooms'] = model.predict(X_missing)

In [42]:
### Посмотрим пропуски

In [43]:
MissingValue1 = df.isnull().sum().sort_values(ascending = False)
Percent1 = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
MissingData1 = pd.concat([MissingValue1, Percent1], axis=1, keys=['Пропущенные значения', 'Процент'])
MissingData1

                  Пропущенные значения  Процент
id                                   0      0.0
rooms_count                          0      0.0
type_rooms                           0      0.0
city                                 0      0.0
address                              0      0.0
floor                                0      0.0
all_floor                            0      0.0
repair                               0      0.0
balcon                               0      0.0
ceil                                 0      0.0
trash                                0      0.0
metro_station                        0      0.0
time_to_metro                        0      0.0
all_squar                            0      0.0
live_squar                           0      0.0
kitchen_squar                        0      0.0
ptice_month                          0      0.0
util_service                         0      0.0
bail                                 0      0.0
rent_period                          0      0.0
prepayment                           0      0.0
pas_lift                             0      0.0
freight_lift                         0      0.0
сhild_allow                          0      0.0
pets_allow                           0      0.0
child_pets_allow                     0      0.0
bathrooms                            0      0.0
type_bathrooms                       0      0.0

In [48]:
df

,id,rooms_count,type_rooms,city,address,floor,all_floor,repair,balcon,ceil,trash,metro_station,time_to_metro,all_squar,live_squar,kitchen_squar,ptice_month,util_service,bail,rent_period,prepayment,pas_lift,freight_lift,сhild_allow,pets_allow,child_pets_allow,bathrooms,type_bathrooms
0,271271157,4.0,,Москва,"улица Новый Арбат, 27",5,16,Дизайнерский,Лоджия (1),3.00,Да,Смоленская,9,200.0,20.0,20.000000,500000,1,500000,1,1,4,1,нет,нет,нет,1.0,Нет
1,271634126,4.0,,Москва,"улица Новый Арбат, 27",5,16,Дизайнерский,Лоджия (1),3.50,Нет,Смоленская,8,198.0,95.0,18.000000,500000,1,500000,1,1,1,1,да,нет,нет,3.0,Совмещенный и Раздельный
2,271173086,4.0,Оба варианта,Москва,"улица Новый Арбат, 27",5,16,Евроремонт,Лоджия (1),3.20,Да,Смоленская,7,200.0,116.0,4.000000,500000,0,500000,1,1,1,0,да,нет,нет,3.0,Совмещенный
3,272197456,4.0,Оба варианта,Москва,"переулок Плотников, 21С1",5,6,Евроремонт,Балкон (1),3.20,Да,Смоленская,3,170.0,95.0,17.000000,400000,0,400000,1,1,1,0,нет,да,нет,3.0,Совмещенный
4,273614615,2.0,,Москва,"улица Новый Арбат, 15",12,26,Евроремонт,"Балкон (1), Лоджия (1)",3.90,Да,Арбатская,7,58.0,38.0,5.000000,225000,1,225000,1,1,1,1,нет,нет,да,2.0,Совмещенный
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23363,215565511,0.0,,Москва,"Боровское шоссе, 2к7, ш. Боровское (3 км до МК...",10,14,Евроремонт,Балкон (1),1.20,Да,Говорово,8,35.0,16.4,8.000000,42000,1,42000,1,1,1,1,нет,нет,да,1.0,Совмещенный
23364,274654844,1.0,,Москва,"Производственная улица, 8к1, ш. Боровское (5 к...",5,18,Евроремонт,Лоджия (1),2.70,Нет,Солнцево,7,38.7,16.5,11.000000,45000,1,45000,1,1,1,1,нет,нет,да,1.0,Совмещенный
23365,268679909,2.0,Оба варианта,Москва,"Боровский проезд, 11",5,5,Дизайнерский,Балкон (1),1.20,Нет,Солнцево,6,43.1,20.0,11.635887,50000,1,50000,1,1,0,0,да,нет,нет,1.0,Совмещенный
23366,274807525,2.0,,Москва,"улица Богданова, 6к1, ш. Боровское (3 км до МК...",8,23,Евроремонт,Лоджия (1),2.65,Да,Солнцево,11,52.5,20.0,10.000000,55000,1,50000,1,2,3,0,нет,нет,да,2.0,Совмещенный и Раздельный
23367,274672243,2.0,Оба варианта,Москва,"улица Богданова, 2к1, ш. Боровское (3 км до МК...",6,23,Косметический,Лоджия (1),1.20,Да,Говорово,10,90.0,48.2,15.500000,57000,1,60000,1,1,3,0,нет,нет,нет,1.0,Раздельный